build
click
click-default-group
docformatter
flake8
flake8-bugbear
Jinja2
lxml
MarkupSafe
mypy
packaging
pandas
pandas.stubs
pip
pyproject_hooks
pytest
pytest-cov
pytest-datadir
pytest-dotenv
setuptools
tomli
toposort
tox
untokenize
wheel
xsdata
